<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Aviator</h1>
                        <p class="intro-text">The Life of a Helicopter Pilot</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p><i>"For once you have tasted flight you will walk the earth with your eyes turned skyward, for there you have been and there you long to return." 
                <br> -Leonardo da Vinci </i></p>
                <p>Hello this is Nic Novelli your captain speaking. How are my fellow Co-Pilots! I'm a professional helicopter pilot from Long Island, New York. I have been fortunate enough to of had a safe career which allowed me to log thousands of hours flying helicopters around the United States and 10 years in the industry. I have done some remarkable things, shared the cockpit with some great people, and seen some beautiful scenary. </p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>My Flying Adventures</h2>
                    <p>Check out these amazing onboard cockpit videos on Youtube captured with GoPro cameras.</p>
                    <a href="https://www.youtube.com/watch?v=S0UPngR5QgE&list=PL64TuZMNpz3bNINXOKev9DRN8wcy4Sg4n" class="btn btn-default btn-lg">Click here for Youtube videos!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Do you have a cool and interesting aviation story you would like to share with me? Shoot me a line or send me your favorite helicopter (or airplane) picture. Maybe you just want to say Hello, either way I would love to hear from you. </p>
                <p><a href="mailto:nj.novelli@gmail.com">nj.novelli@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/Nic_Novelli"class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://instagram.com" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
